.svg {
  transform-origin: center;
  animation: wrapper-animation 2s linear infinite;
}

.svg circle {
  stroke-linecap: round;
  animation: circle-animation 1.5s ease-in-out infinite;
}

@keyframes wrapper-animation {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes circle-animation {
  0% {
    stroke-dasharray: 0 150;
    stroke-dashoffset: 0;
  }

  47.5% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -16;
  }

  95%,
  100% {
    stroke-dasharray: 42 150;
    stroke-dashoffset: -59;
  }
}
